.quarto-title-block .quarto-title-banner {
  background-image: url(www/adp-logo2.png);
  background-size: 200px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 10px;
  background-origin: content-box;
}